<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,600,900|Monoton' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="title">
    <h1>EyeSong</h1>
    <p class="slug">Find the right sound for a photo set</p>
  </div>
  </body>
</html>