<div class="container-fluid" id="theApp" style="" >
    <div class="header">
        <img src="/img/logo.png" />
    </div>
    <div class="row-fluid page" id="page-main">
        <div class="row-fluid" id="pnl-map" >
            <div class="span12">
                <div id="gmap-container">
                    <div id="gmap">
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" id="loading" style="display:none;">
            <div class="span12">
                LOADING
            </div>
        </div>

        <div id="pnl-results">

        </div>

    </div>

    <div class="row-fluid page hide" id="page-photo">
        <div class="row-fluid" id="photo-view" >
            <div class="span12" id="theImage">
            </div>
        </div>
        <div class="row-fluid">
            <div id="gmap-container2">
                <div id="gmap2">
                </div>
            </div>
        </div>
        <div class="row-fluid">
           <img src="/img/time_icon.png"/> Time: <div class="detailData" id="time">XY</div>
           <img src="/img/date_icon.png"/> Date: <div class="detailData" id="date">XY</div>
        </div>
         <div class="row-fluid">
            <img src="/img/venue_icon.png"/> Venue: <div class="detailData" id="location">XY</div>
         </div>
         <div class="row-fluid">
            <img src="/img/filter_icon.png"/> Filter: <div class="detailData" id="filter">XY</div>
            <img src="/img/like_icon.png"/> Likes: <div class="detailData" id="likes">XY</div>
         </div>
         <div class="row-fluid">
         </div>

        <div class="row-fluid">
          <a href="#page-main" class="btn btn-info">back to map</a>
          <!--a href="#direction" class="btn btn-info">take me there</a-->
        </div>
    </div>


</div>


<script type="text/javascript">
    $( function() {
        var app = new PHR.App({el:'theApp'});
        Backbone.history.start();
    });
</script>

<script id="tpl_spot_row" type="text/html">
    <h2 class="spot-name">{{name}}</h2>

    <div class="scroll-pane">

        {{#extPictures.eyeemAlbum.photos.items}}
        <div class="spot-result" data-target="#page-photo/{{id}}" style="background-image:url('{{thumbUrl}}');">

        </div>
        {{/extPictures.eyeemAlbum.photos.items}}
    </div>

</script>

<script id="tpl_spot_result" type="text/html">
    <a href="#page-photo/{{id}}"><img src="{{thumbUrl}}" /></a>
</script>


          