<!DOCTYPE html>
<html>
  <head>
    <title>Photoration :: <%= title %></title>
      <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,600,900|Monoton' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="title">
    <h1>Photoration</h1>
    <p class="slug">Find the best place and settings to take a brilliant picture</p>
    
  </div>
  </body>
</html>
