body {
  font-family:  'Lato', sans-serif;
}


a {
  color: #00B7FF;
}

#title h1 {
    font-size: 110px;
    margin:0;
}

#title .slug {
   font-size: 30px;
}
h1 {
}

#gmap-container {
    position:relative;
    width:100%;
    height:10em;
}
#gmap-container #btn-curLoc {
    position:absolute;
    right: 0.2em;
    top:0.1em;
    z-index:20;
}

#gmap {
    width: 100%;
    height: 100%;
}

#gmap img { /*BS Hack*/
    max-width:inherit;
}

.spot-result-row {
    position:relative;
    width: 100%;
    height:8em;
    border-bottom:1px dotted black;
    overflow:hidden;
}
.spot-result-row .scroll-pane {
    width:10000px;
    left:0px;
    position:relative;
}
.spot-result-row .more {
    position: absolute;
    right: 0;
    width: 8%;
    font-size: 1.7em;
    z-index: 30;
    background-color: rgba(80,80,80,0.5);
    height: 100%;
}
.spot-result-row .more i {
    margin-top: 100%;
    margin-left:25%;
}
.spot-result-row .spot-result {
    float:left;
    margin-right:10px;
}

h2.spot-name {
    position: absolute;
    z-index: 10;
    margin: 0;
    font-size: 1.6em;
}

