body {
  font-family:  'Exo', sans-serif;
}
h1,h2,h3 {
    font-family: 'Monoton', cursive;
}

a {
  color: #00B7FF;
}

#title h1 {
    font-size: 110px;
    margin:0;
}

#title .slug {
   font-size: 30px;
}
h1 {
}