body {
  font-family:  'Lato', sans-serif;
}


a {
  color: #00B7FF;
}

#title h1 {
    font-size: 110px;
    margin:0;
}

#title .slug {
   font-size: 30px;
}
h1 {
}

.container-fluid { /* BS */
    padding-right: 0px;
    padding-left: 0px;
}

#gmap-container, #gmap-container2 {
    position:relative;
    width:100%;
    height:17em;
}
#gmap-container #btn-curLoc {
    position:absolute;
    right: 0.2em;
    top:0.1em;
    z-index:20;
}

#gmap, #gmap2 {
    width: 100%;
    height: 100%;
}

#gmap img,#gmap2 img { /*BS Hack*/
    max-width:inherit;
}

.spot-result-row {
    position:relative;
    width: 100%;
    height:8em;
    border-bottom:1px dotted black;
    overflow:hidden;
}
.spot-result-row .scroll-pane {
    width:10000px;
    height:100px;
    left:0px;
    position:relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
.spot-result-row .more {
    position: absolute;
    right: 0;
    width: 8%;
    font-size: 1.7em;
    z-index: 30;
    background-color: rgba(80,80,80,0.5);
    height: 100%;
}
.spot-result-row .more i {
    margin-top: 100%;
    margin-left:25%;
}
.spot-result-row .spot-result {
    float:left;
    margin-right:10px;
    width: 150px;
    height: 100%;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h2.spot-name {
    position: absolute;
    z-index: 10;
    margin: 0;
    font-size: 1.6em;
    background: rgba(80,80,80,0.8);
    padding: 0.3em;
}

#page-main .header {
    width: 100%;
    height: 6em;
    position: relative;
    z-index: 20;
    top: 0.4em;
    background-color: rgba(80,80,80,0.6);
}
div.detailData{
    display:inline;
    margin-right: 20%;
}
